/* ======================
   BODY
====================== */

body {
  font-family: "Josefin Sans", sans-serif;

  background-image: url("../images/bg-desktop-light.jpg");

  transition: 0.3s;

  background-repeat: no-repeat;

  background-size: 100% 300px;

  background-color: var(--bg);

  min-height: 100vh;

  display: flex;

  justify-content: center;
}
