/* ======================
   CIRCLE
====================== */

.circle {

  width: 22px;

  height: 22px;

  border:
    1px solid var(--border);

  border-radius: 50%;

  cursor: pointer;

  flex-shrink: 0;
}