
/* ======================
   HEADER
====================== */

.todo__header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 40px;
}

.todo__header h1 {

  color: white;

  letter-spacing: 12px;

  font-size: 2.5rem;
}

.theme-btn {

  cursor: pointer;
}

.theme-btn img {

  width: 24px;
}